@use '../abstract/index' as *;

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 100%;
    // border: solid 2px black;
    position: sticky;

    .footer-btn-container{
        margin-top: 2rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        background: linear-gradient(to bottom, $gradient);
    }

    a{
        padding: 1rem;
        text-decoration: none;
        color: black;
        border-radius: 1rem;
        
    }
}