.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  margin: 0;

  ul {
    display: flex;
    justify-content: end;
    gap: 1rem;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .fill-green-600 {
    fill: black; /* Green color */
  }
  .hamburger-menu {
    font-size: 2.5rem;
    color: white;
  }

  .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 10rem;
    border-radius: 0.9rem;
  }

  .modal-content {
    padding: 2rem;
    background-color: rgb(250, 239, 246);
    // border-radius: 0.3rem 0.3rem 0 0;
  }

  .modal-close {
    display: flex;
    justify-content: flex-end;
  }

  .modal-button-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }

  .modal-button {
    margin-bottom: 0.1rem;
    padding: 0.5rem 0.5rem;
    color: black;
    background: rgb(227 134 206);
    border-radius: 0.3rem;
    border: none;
    cursor: pointer;
    min-width: 100%;
  }

  .modal-divider {
    width: 100%; /* Adjust the width as needed */
    height: 1px; /* Adjust the height as needed */
    background-color: #ccc; /* Adjust the color as needed */
    margin: 5px 0; /* Adjust the margin as needed */
  }
}
