/* 

.measurement-tracking-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  box-sizing: border-box; 
}


h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}


.save-button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.save-button:hover {
  background-color: #0056b3;
}


.chart-container {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 400px;
}


.data-list ul {
  list-style-type: none;
  padding: 0;
}

.data-list ul li {
  margin-bottom: 5px;
}


.height-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}


.input-container label {
  flex: 0 0 auto;
  margin-bottom: 5px;
}

.input-container input[type="number"],
.input-container input[type="text"] {
  width: 100%; 
  max-width: 150px; 
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; 
}

.input-container input[type="text"]:focus,
.input-container input[type="number"]:focus {
  outline: none;
  border-color: #007bff;
}


@media only screen and (max-width: 428px) {
  .input-container {
    flex-direction: column;
  }

  .input-container label {
    margin-bottom: 5px;
    flex: 0 0 auto;
  }

  .input-container input[type="number"],
  .input-container input[type="text"] {
    width: calc(100% - 20px); 
    max-width: none; 
  }

  .chart-container {
    height: 300px;
  }
}
 */

 
 .measurement-tracking-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-container label {
  text-align: left;
  color: #4b0082;
}


.input-container input[type="number"],
.input-container input[type="text"] {
  width: 100%;
  
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-container input[type="text"]:focus,
.input-container input[type="number"]:focus {
  outline: none;
  border-color: #4b0082;
}

.save-button-container {
  display: flex;
  justify-content: center;
}

.save-button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(to bottom, #A35EBB, #FFA0A0);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}


h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  color:#4b0082;
}

.chart-container {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 400px;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.input-container .weight-input {
  position: relative;
}

.input-container .unit {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  
}



@media only screen and (max-width: 428px) {
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .input-container label {
    width: 100%; 
    margin-bottom: 5px; 
  }

  .input-container input[type="number"],
  .input-container input[type="text"] {
    width: calc(100% ); 
  }

  .save-button {
    width: calc(100% - 20px); 
  }
}
