

 
 .measurement-tracking-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-container label {
  text-align: left;
  color: #46284E;
}


.input-container input[type="number"],
.input-container input[type="text"] {
  width: 100%;
  
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-container input[type="text"]:focus,
.input-container input[type="number"]:focus {
  outline: none;
  border-color: #46284E;
}

.save-button-container {
  display: flex;
  justify-content: center;
}

.save-button {
  width: 100%;
  padding: 12px;
  background: #6A62B6 ;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.save-button:active {
  background-color: #46284E; 
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  color:#46284E;
}

.chart-container {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 400px;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.input-container .weight-input {
  position: relative;
}

.input-container .unit {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  
}



@media only screen and (max-width: 428px) {
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .input-container label {
    width: 100%; 
    margin-bottom: 5px; 
  }

  .input-container input[type="number"],
  .input-container input[type="text"] {
    width: calc(100% ); 
  }

  .save-button {
    width: calc(100% - 20px); 
  }
}

