$primary: #6A62B6; // Primary color

$secondary: #ffffff00; // Secondary color

$action: #764484; // Auxiliary color

$text: #46284E; // Accent color

$container: #DCD9FB; // AccentHoover color

$btn: #8D83F2; //button color

$gradient: #A35EBB, #FFA0A0; //Bakgrundsgradient

