$primary: #ffffff00; // Primary color

$secondary: #ffffff00; // Secondary color

$aux: #ffffff00; // Auxiliary color

$accent: #ffffff00; // Accent color

$accentHoover: #ffffff00; // AccentHoover color