.user-settings-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  height: 100vh;
  background-color: transparent;
  padding-top: 100px;
  padding-left: 40px;
}

.user-settings-form {
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-settings-form label {
  display: block;
  margin-bottom: 10px;
  color: #333;
}

.user-settings-form input {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.user-settings-form button {
  width: 100%;
  padding: 10px;
  background: linear-gradient(to bottom, #A35EBB, #FFA0A0);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.user-settings-form button:hover {
  background: linear-gradient(to bottom, #914ba8, #ff8b8b);
}

.password-label {
  position: relative;
}

.password-input-container {
  position: relative;
  color: #a19b9b;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 38%;
  transform: translateY(-50%);
  cursor: pointer;
}
