@use '../Abstract/index' as *;

.dropdown-button,
.input-field,
.select-field {
  padding: 0.875rem;
  margin: 0.5rem auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  background-color: #fff;
  cursor: pointer;
  text-align: left;
}

.dropdown-content {
  position: absolute;
  width: 100%;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  z-index: 1000;
  padding: 5px 0;

  label {
    display: block;
    padding: 5px 10px;
    cursor: pointer;

    input[type='checkbox'] {
      margin-right: 10px;
    }
  }
}

.avatar-dropdown {
  position: relative;
  margin-bottom: 20px;

  .avatar-display {
    cursor: pointer;
    display: flex;
    justify-content: center;
  }

  .selected-avatar {
    height: 80px;
    width: 80px;
  }

  .avatar-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
    width: 6rem;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 5px;
  }

  .avatar-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1050;
    overflow-y: auto;
    animation: slideIn 0.3s ease-out forwards;
  }

  .avatar-grid {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap */
    justify-content: center; /* Center items in the flex container */
    gap: 0.5rem;
    max-width: 1200px; /* Set a maximum width to prevent it from stretching too much */
    width: 100%; /* Ensure the grid takes full width available */
    box-sizing: border-box; /* Ensure padding is included in the width */
    padding: 0.5rem;
    margin: 0 auto;
  }

  .avatar-item {
    background-color: white;
    height: 80px;
    width: 80px;
    padding: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .avatar-image {
    width: 100%;
  }

  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
}

.allergies-dropdown {
  cursor: pointer;
  border: none;

  .multiselect-container {
    display: inline-block;
    width: 100%;
  }

  .multiselect-container .multiselect-dropdown {
    width: 100%;
  }

  .multiselect-container .searchBox input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
  }

  .multiselect-container .chips {
    background: #f1f1f1;
    padding: 5px 10px;
    //border-radius: 5px;
    margin: 5px;
  }
}
