@use '../Abstract/index' as *;

.dropdown-button,
.input-field,
.select-field {
  padding: 0.875rem;
  margin: 0.5rem auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  background-color: #fff;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  width: 100%;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  z-index: 1000;
  padding: 5px 0;

  label {
    display: block;
    padding: 5px 10px;
    cursor: pointer;

    input[type='checkbox'] {
      margin-right: 10px;
    }
  }
}

.avatar-dropdown {
  position: relative;
  margin-bottom: 20px;

  .avatar-display {
    cursor: pointer;
    display: flex;
    justify-content: center;
  }

  .avatar-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
    width: 6rem;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 5px;
  }

  .avatar-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1050;
    overflow-y: auto;
    animation: slideIn 0.3s ease-out forwards;

    .avatar-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      //gap: 0.5rem;
      padding: 0.5rem;
    }

    .avatar-item {
      padding: 0.5rem;
      cursor: pointer;
      background-color: white;
      //border-radius: 5px;

      .avatar-image {
        width: 100%;
        height: auto;
      }
    }
  }

  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
}
