@use '../abstract/index' as *;

main{
    width: 100vw;
    height: 98vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.ai-chat-container{
    width: 95%;
    height: 90%;
    border-radius: 2rem;
    margin: 1rem 0.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}

.chat-bubble{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: .2rem .8rem;
    width: 85%;
    border-radius: 1rem;
    margin: .2rem;

    h4{
        margin: 0;
    }

    &.user{
        background-color: #D9B8FF;
    }
    &.ai{
        background-color: #b4e0ff;

        &.loading {
          
        }
    }
}

.user-input-container{
  margin-bottom: 2rem;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#chat-input{
    width: 16rem;
    height: 2rem;
    margin: .2rem .4rem;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    padding: .4rem;
    font-size:medium;
    overflow-y: auto;
}

#chat-input:focus{
  outline:none;
}

#chat-submit-btn{
    background: none;
    border: none;
    cursor: pointer;
    margin: .4rem;
    background-color: white;
    font-size: medium;
}