@use '../Abstract/index' as *;

@import url(https://fonts.googleapis.com/css?family=Roboto:900,300);
body {
  background-color: #f0f0f0;
  font-family: roboto;
}
.container {
  width: 400px;
  margin: 120px auto 120px;
  background-color: #fff;
  padding: 0 20px 20px;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);
  text-align: center;
}

.avatar {
  border-radius: 100px;
  overflow: hidden;
  height: 150px;
  width: 150px;
  position: relative;
  margin: auto;
  top: -60px;
  background-color: #fff;
  box-shadow: 0 0 0 13px #f0f0f0;
}

.avatar img {
  position: absolute;
  width: 60%; /* Full width of the container */
  height: 60%; /* Full height of the container */
  top: 20%; /* Centers the image vertically */
  left: 20%; /* Centers the image horizontally */
  object-position: center;
}

h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
}
h4 {
  font-size: 13px;
  color: #00baff;
  letter-spacing: 1px;
  margin-bottom: 25px;
}
p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
  color: #666;
}
