@use '../Abstract/index' as *;

@import url(https://fonts.googleapis.com/css?family=Roboto:900,300);

.list-container {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  background-color: lightgrey;
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.card {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.list-container img {
  object-position: center;
}
