@use '../abstract/index' as *;

header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  //text-align: center;
  border-bottom: 1px solid #858484;
  position: relative;

  .logo {
    color: #9b59b6;
    font-weight: 600;
    letter-spacing: 1px;
  }

  .header-button {
    //position: absolute;
    right: 10px;
    top: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
}

main {
  @include center;
  height: 100vh;
}

.card-container {
  @include center;
}
.input-container {
  @include auth-card;
}
.forgot-submit-btn {
  @include auth-button;
}
