@use '../abstract/index' as *;

.babster {
  font-family: $mainfont;
  background-color: white;

  .header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #6a62b6;
    position: relative;

    .logo {
      color: #6a62b6;
      font-weight: 600;
      letter-spacing: 1px;
    }

    .header-button {
      right: 10px;
      top: 10px;
      color: #6a62b6;
      background-color: #fff;
      border: 2px solid #6a62b6;
      border-radius: 5px;
      padding: 5px 10px;
      cursor: pointer;

      &:active {
        background-color: darken(#3f3b6d, 10%);
        color: lighten(#fff, 10%);
        border-color: darken(#3f3b6d, 10%);
      }
    }
  }

  .main-image-container {
    text-align: center;
    position: relative;
    border-radius: 0 0 120px 120px;
    overflow: hidden;
    max-width: 100%;

    .image-overlay {
      display: inline-block;
      position: relative;
      width: 100%;
      height: auto;
    }

    .main-image {
      display: block;
      width: 40%;
      height: auto;
      position: relative;
      z-index: 1;
    }

    .image-overlay::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #6a62b663; // The color to multiply with the image
      mix-blend-mode: multiply; // Apply the multiply blend mode to the overlay
      z-index: 2;
    }
  }

  .main-image {
    width: 50%;
    margin: auto;
    height: auto;
  }

  .content {
    //padding: 20px;

    h1 {
      @include H1;
    }

    p {
      @include paragraph;
    }

    .buttons {
      margin-top: 20px;
    }

    .link {
      text-decoration: none;
    }

    .primary-button {
      @include primary-button;
      width: 90%;
      margin: 0.5rem auto;
    }
    .secondary-button {
      @include secondary-button;
      width: 90%;
      margin: 0.5rem auto;
    }

    .question-section {
      margin-top: 30px;

      h2 {
        @include H2;
        @include center;
        .question-icon {
          width: 70px;
          margin-right: 10px;
        }
      }

      p {
        margin-top: 10px;
        @include paragraph;
      }
    }
  }
}
