@use '../Abstract/index' as *;

.manage-kids {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;

  h3,
  p {
    margin: 0;
    transform: translateY(0.5rem); /* Adjust the value as needed */
  }

  h3 {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.25rem 0;
  }

  p {
    font-size: 0.875rem;
  }

  .card {
    position: relative;
    border-radius: 0.5rem;
    padding: 0rem 0.5rem 1rem 0.5rem;
    margin: 0.5rem 0;
    background-color: rgba(235, 235, 235, 0.265);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .card:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 4px;
  }

  .column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .row {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }

  .row-divider {
    border-bottom: 1px solid rgb(235, 235, 235);
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .avatar {
    width: 100%;
  }

  .avatar-container {
    display: grid;
    place-items: center;
    padding-bottom: 0.5rem;
    width: 100px;
    height: 100px;
  }

  .allergy {
    background-color: rgb(241 245 249);
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: small;
  }

  .menu-container {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
    .menu {
      position: absolute;
      top: 20px;
      right: 0;
      background-color: white;
      border-radius: 5px;
      width: 120px;
      z-index: 100;
      list-style: none;
      padding-left: 0;
      margin-left: 0;

      li {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 8px 12px;
        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
  }
}
