@use '../Abstract/index' as *;

// Global reset styles
*,
*::before,
*::after {
  //margin: 0 auto; //Anderes removed this because it did create problems in my layout, Anders
  padding: 0;
  box-sizing: border-box; // Ensures padding and borders are included in the width and height
}

// Root styles
:root {
  font-family: $mainfont; // Assuming $mainfont is defined in your abstract/index
}

body {
  width: 100vw;
  margin: auto;

  background-image: url('/Baby-Background.png');
  background-size: cover;
}

main {
  padding: 0 1rem;
}
