@use '../Abstract/index' as *;

// Root styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; // Ensures padding and borders are included in the element's total width and height
  font-family: $mainfont;
};

body{
  width: 95vw;
  // height: 90vh;
  background-image: url('/Baby-Background.png');
  background-size: cover;
};