@use '../Abstract/index' as *;

// Global reset styles
*,
*::before,
*::after {
  //margin: 0 auto; //Anderes removed this because it did create problems in my layout, Anders
  padding: 0;
  box-sizing: border-box; // Ensures padding and borders are included in the width and height
}

// Root styles
:root {
  font-family: $mainfont; // Assuming $mainfont is defined in your abstract/index
}

body {
  height: 100vh; //Ta bort om den strular?
  margin: auto;
  background-image: linear-gradient($gradient);
}

@media (min-width: 800px) {
  body {
    max-width: 100%;
  }
}

main {
  padding: 0 1rem;
}
